<!--<h1>
  {{title}}
</h1>-->
<header>
  <div class="container">
    <div class="row navigate">
      <div class="col-md-4 ">  
        <img src="/assets/img/logo.png" alt="Мой Орск" class="img-responsive inline">
        <h1 class="inline">Мой Орск</h1>
      </div>
      <div class="col-md-8">
        <nav>
          <div class="row">
            <ul>
              <li class="list-inline">
                <a href="#">Главная</a>
                <a href="#">Предложения</a>
                <a href="#">Презентация</a>
                <a href="#">Приложение</a>
                <a href="#">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<section id="main">
  <div class="container">
    <div class="row padding">
      <div class="col-md-8 text-center ">
        <h1>Весь город в твоем мобильном</h1>
          <div class="row video-responsive">
            <!--<h1>Промо ролик</h1>-->
            <div class="video-responsive">
              <iframe src="//vk.com/video_ext.php?oid=-139321731&id=456239017&hash=2a09c41126e9fdd2&hd=2" width="auto" height="auto" frameborder="0"
                allowfullscreen></iframe>
            </div>
          </div>
        <h3>Lorem ipsum dolor sit amet, consectetur<br>
         adipisicing elit.Nobis, quas, quis. Unde voluptatem<br>
          voluptatibus iure enim,</h3>
             <button class="android ">
               <i class="fa fa-android" aria-hidden="true"></i>
               Google Play
              </button>
             <button class="apple">
               <i class="fa fa-apple" aria-hidden="true"></i>
               Apple
              </button>
      </div>
      <div class="col-md-4 center-block">
          <img src="/assets/img/mobile.png" alt="Мой Орск" class="img-responsive center-block">
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="row text-center">
        <h1 class="text-center">Достоинства нашего Приложения</h1>
      <div class="row padding">
        <div class="col-md-4">
          <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
          <h4>Следи за новостями</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
         Inventore corrupti similique molestias, eos modi harum aspernatur</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
          <h4>Будь в курсе событий</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
         Inventore corrupti similique molestias, eos modi harum aspernatur</p>
        </div>
        <div class="col-md-4">
        <i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i>
          <h4>Простое использование</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
         Inventore corrupti similique molestias, eos modi harum aspernatur</p>
        </div>
      </div>
      <div class="row padding">
        <div class="col-md-4">
          <i class="fa fa-window-restore fa-4x" aria-hidden="true"></i>
          <h4>Главное окно</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
         Inventore corrupti similique molestias, eos modi harum aspernatur</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-bar-chart fa-4x" aria-hidden="true "></i>
          <h4>Регулярные обновления</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
         Inventore corrupti similique molestias, eos modi harum aspernatur</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-refresh fa-4x" aria-hidden="true"></i>
          <h4>Возможность работы без интернета</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
         Inventore corrupti similique molestias, eos modi harum aspernatur</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="price">
  <div class="container">
    <div class="row text-center">
      <h1>Наши предложения</h1>
      <h3>У нас очень гибкий набор цен, так что каждый найдет себе вариант по карману</h3>
      <div class="row padding">
        <div class="col-md-3">
          <h1>Free</h1>
          <p>Размещение Бесплатное</p>
          <h5>1 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
        <div class="col-md-3">
          <h1>Bronze</h1>
          <p>Размещение Бронза</p>
          <h5>500 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
        <div class="col-md-3">
          <h1>Silver</h1>
          <p>Размещение Серебро</p>
          <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
        <div class="col-md-3">
          <h1>Gold</h1>
          <p>Размещение Золото</p>
          <h5>2000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
      </div>
      <div class="row padding">
          <div class="col-md-3">
            <h1>Event</h1>
            <p>Размещение Акция</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
          <div class="col-md-3">
            <h1>PUSH</h1>
            <p>Размещение PUSH-уведомление</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
          <div class="col-md-3">
            <h1>Banner</h1>
            <p>Размещение Афиша</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
          <div class="col-md-3">
            <h1>News</h1>
            <p>Размещение Новость</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="video">
  <div class="container">

  </div>
</section>

<section id="mobile">
  <div class="container">
    <div class="row text-center">
      <h1>Наше приложение</h1>
      <div class="fotorama"
            data-width="100%"
            data-ratio="100/50"
            data-autoplay="true">
        <img src="http://s.fotorama.io/1.jpg">
        <img src="http://s.fotorama.io/2.jpg">
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <h4></h4>
      <div class="row">
        <div class="col-md-6">
          <h4>Вы можете помочь нам улучшить наше приложение</h4>
          <p>Добавте Организацию, Новость, Акции или Событие</p>
          <ul>
            <li>
              <a href="#">Добавить Организацию</a>
            </li>
            <li>
              <a href="#">Добавить Новость</a>
            </li>
            <li>
              <a href="#">Добавить Акции</a>
            </li>
            <li>
              <a href="#">Добавить Событие</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Мы в Социальных сетях</h4>
          <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
          <div class="row">
            <form action="">
              <div class="col-md-6">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Телефон">
              </div>
                <div class="col-md-6">
                  <textarea name="" id="" cols="30" rows="10"></textarea>  
                </div>
                <button type="submit">Отправить</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <p>
          All contents © copyright 2014 Business Theme. All rights reserved Designed by : Sasha Olya
        </p>
      </div>
    </div>
  </div>
</footer>