<!--<h1>
  {{title}}
</h1>-->
<!--<header>
  <div class="container">
  </div>
</header>-->

<section id="main">
  <div class="container">
    <div class="row">

  <div class="row">
      <div class="col-md-5 ">  
        <img src="/assets/img/logo.png" alt="Мой Орск" class="img-responsive logo inline">
        <h1 class="inline logo-text">Мой Орск</h1>
      </div>
      <div class="col-md-7">
        <nav>
          <div class="row">
            <ul>
              <li class="list-inline">
                <a href="#">Главная</a>
                <a href="#">Разделы</a>
                <a href="#">Презентация</a>
                <a href="#">Партнерам</a>
                <a href="#">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <!--<div class="col-md-5"></div>-->
      <div class="col-md-7 col-md-offset-5 text-center">
        <h1 class="heading">Весь город в твоем мобильном</h1>
        <!--<h1 class="heading2">Афиша, новости, акции, справочник.<br>
              Push-уведомления и многе<br>
                    другое. </h1>-->
            <div class="button-padding"> 
             <button class="android ">
               <i class="fa fa-android" aria-hidden="true"></i>
               Google Play
              </button>
             <button class="apple ">
               <i class="fa fa-apple" aria-hidden="true"></i>
               Apple
              </button>
            </div>  
      </div>
      <div class="row ">
        <div class="col-md-5 col-md-offset-7 mobile">
  <div class="news-demo">

  <!--<h1>jQuery Vertical News Slider</h1>-->

  <div class="news-holder cf">

    <ul class="news-headlines">
      <li class="selected"> <i class="fa fa-newspaper-o li-padding" aria-hidden="true"></i>Новости</li>
      <li><i class="fa fa-book li-padding" aria-hidden="true"></i>Справочник</li>
      <li><i class="fa fa-address-book-o li-padding" aria-hidden="true"></i>Афиша</li>
      <li><i class="fa fa-calendar li-padding" aria-hidden="true"></i>Акции</li>
      <li><i class="fa fa-bell-o li-padding" aria-hidden="true"></i>PUSH</li>
      <li><i class="fa fa-shopping-cart li-padding" aria-hidden="true"></i>Скидки</li>
      <!-- li.highlight gets inserted here -->
    </ul>

    <div class="news-preview">

      <div class="news-content top-content">
        <img src="/assets/img/slide1.png">
        <!--<p><a href="#">100 red bicycles stolen from local bike store</a></p>

        <p>A hundred red bicycles were stolen from under our noses yesterday, and nobody knows what went wrong.</p>-->
      </div><!-- .news-content -->

      <div class="news-content">
        <img src="/assets/img/slide2.png">
        <!--<p><a href="#">New leash laws in effect for floppy-eared dogs</a></p>

        <p>Ears on dogs can be a tricky thing. Find out more about this amazing story and why these dogs are a nuisance.</p>-->
      </div><!-- .news-content -->

      <div class="news-content">
        <img src="/assets/img/slide1.png">
        <!--<p><a href="#">Insider: Can palm trees be saved?</a></p>

        <p>Ah, the palm tree. It feeds us, it shades us, it does whatever we ask. We should think about it more deeply.</p>-->
      </div><!-- .news-content -->

      <div class="news-content">
        <img src="/assets/img/slide2.png">
        <!--<p><a href="#">Fresh recipes to titillate the taste buds</a></p>

        <p>Food is great. These recipes will make you appreciate food as if it were even greater than great. It will be super great.</p>-->
      </div><!-- .news-content -->

      <div class="news-content">
        <img src="/assets/img/slide1.png">
        <!--<p><a href="#">Truck inspections under way for the metropolitan area</a></p>

        <p>The Sherrif's department has put out an APB on these trucks. You know, this is the kind of thing that only happens in small towns.</p>-->
      </div><!-- .news-content -->

      <div class="news-content">
        <img src="/assets/img/slide2.png">
        <!--<p><a href="#">Are the beaches safe for swimming this year?</a></p>

        <p>Giant orange pedal boats have been spotted at various beaches. In this report we tell you some ridiculous precautions to take.</p>-->
      </div><!-- .news-content -->

    </div><!-- .news-preview -->

  </div><!-- .news-holder -->


          </div>
            <!--<img src="/assets/img/mobile.png" alt="Мой Орск" class="img-responsive center-block">-->
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="row text-center">
        <h1 class="text-center">Достоинства нашего приложения</h1>
      <div class="row padding">
        <div class="col-md-4">
          <i class="fa fa-book fa-4x" aria-hidden="true"></i>
          <h4>Cправочник</h4>
          <p>Самые свежее  адреса,<br>
            телефоны и графики<br>
            работ организаций. Возможно<br>
            использование без Интернета.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
          <h4>Новости</h4>
        <p>И не только о политике.</p>
        </div>
        <div class="col-md-4">
        <!--<i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i>-->
        <i class="fa fa-bell-o fa-4x" aria-hidden="true"></i>
          <h4>Push-уведомления</h4>
        <p>О премьерах, интересных<br>
          новостях, различных<br>
          мероприятиях и акциях.</p>
        </div>
      </div>
      <div class="row padding">
        <div class="col-md-4">
          <!--<i class="fa fa-window-restore fa-4x" aria-hidden="true"></i>-->
          <i class="fa fa-address-book-o fa-4x" aria-hidden="true"></i>
          <h4>Афиши</h4>
        <p>Узнайте, где лучше всего<br>
            провести свободное<br>
            время.</p>
        </div>
        <div class="col-md-4">
          <!--<i class="fa fa-bar-chart fa-4x" aria-hidden="true "></i>-->
          <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
          <h4>Дисконтная программа</h4>
        <p>Круг партнеров<br>
            постоянно увеличивается</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
          <!--<i class="fa fa-refresh fa-4x" aria-hidden="true"></i>-->
          <h4>Акции</h4>
        <p>Узнай все об акциях,<br>
            проводимых в городе.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="video">
  <div class="container">
    <div class="row video-responsive text-center">
        <h1>Промо ролик</h1>
          <div class="video-responsive">
          <iframe src="//vk.com/video_ext.php?oid=-139321731&id=456239017&hash=2a09c41126e9fdd2&hd=2" width="auto" height="auto" frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div>
  </div>
</section>

<section id="price">
  <div class="container">
    <div class="row text-center">
      <h1>Наши предложения</h1>
      <h3>У нас очень гибкий набор цен, так что каждый найдет себе вариант по карману</h3>
      <div class="row padding">
        <div class="col-md-3">
          <h1>Free</h1>
          <p>Размещение Бесплатное</p>
          <h5>1 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
        <div class="col-md-3">
          <h1>Bronze</h1>
          <p>Размещение Бронза</p>
          <h5>500 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
        <div class="col-md-3">
          <h1>Silver</h1>
          <p>Размещение Серебро</p>
          <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
        <div class="col-md-3">
          <h1>Gold</h1>
          <p>Размещение Золото</p>
          <h5>2000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
          <button>Подробнее</button>
        </div>
      </div>
      <div class="row padding">
          <div class="col-md-3">
            <h1>Event</h1>
            <p>Размещение Акция</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
          <div class="col-md-3">
            <h1>PUSH</h1>
            <p>Размещение PUSH-уведомление</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
          <div class="col-md-3">
            <h1>Banner</h1>
            <p>Размещение Афиша</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
          <div class="col-md-3">
            <h1>News</h1>
            <p>Размещение Новость</p>
            <h5>1000 <i class="fa fa-rub" aria-hidden="true"></i></h5>
            <button>Подробнее</button>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="mobile">
  <div class="container">
    <div class="row text-center">
      <h1>Наше приложение</h1>
      <div class="fotorama"
            data-width="100%"
            data-ratio="100/50"
            data-autoplay="true">
        <img src="http://s.fotorama.io/1.jpg">
        <img src="http://s.fotorama.io/2.jpg">
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <h4></h4>
      <div class="row">
        <div class="col-md-6">
          <h4>Вы можете помочь нам улучшить наше приложение</h4>
          <p>Добавте Организацию, Новость, Акции или Событие</p>
          <ul>
            <li>
              <a href="#">Добавить Организацию</a>
            </li>
            <li>
              <a href="#">Добавить Новость</a>
            </li>
            <li>
              <a href="#">Добавить Акции</a>
            </li>
            <li>
              <a href="#">Добавить Событие</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Мы в Социальных сетях</h4>
          <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
          <div class="row">
            <form action="">
              <div class="col-md-6">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Телефон">
              </div>
                <div class="col-md-6">
                  <textarea name="" id="" cols="30" rows="10"></textarea>  
                </div>
                <button type="submit">Отправить</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <p>
          All contents © copyright 2014 Business Theme. All rights reserved Designed by : Sasha Olya
        </p>
      </div>
    </div>
  </div>
</footer>